
@media (max-width: 1200px) {
    section {
        padding: 3rem 2rem;
    }
}


@media (min-width: 1024px){
    .header {
        padding: 2rem 16rem;
    }
    
}

@media (min-width: 740px) and (max-width: 1024px) {
    html {
        font-size: 55%;
    }

    .home .box {
        padding: 2rem;
        justify-content: center;
        background-position: right !important;
    }
    .home .second {
        justify-content: center;
        background-position: left !important;
    }

    .home .content {
        text-align: center;
    }

    .home .content span {
       font-size: 3rem;
    }

    .home .content h3 {
        font-size: 4rem;
    }

    .about .about-content {
        margin-top: 2.4rem;
    }
}

@media (max-width: 739px) {
    html {
        font-size: 55%;
    }

    .common-heading {
        font-size: 3rem;
    }

    #menu-btn {
        display: inline-block;
    }

    .header .header-list .navbar {
        position: fixed;
        top: 0;left: -110%;
        background-color: var(--white);
        z-index: 10000;
        width: 35rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header .header-list .navbar a {
        margin: 1rem 0;
        font-size: 3rem;
        padding: 2rem;
    }

    .header .header-list .navbar #nav-close {
        display: block;
        position: absolute;
        top: 1rem; right: 1.5rem;
    }

    .header .header-list .navbar.active {
        left: 0;
        box-shadow: 0 0 0 100vw rgba(0, 0, 0, .8);
    }

    .home .box {
        padding: 2rem;
        justify-content: center;
        background-position: right !important;
    }
    .home .second {
        justify-content: center;
        background-position: left !important;
    }

    .home .content {
        text-align: center;
    }

    .home .content span {
       font-size: 3rem;
    }

    .home .content h3 {
        font-size: 4rem;
    }

    .about .about-content {
        margin-top: 2.4rem;
    }

    .swiper .swiper-button-next::after, 
    .swiper .swiper-button-prev::after {
        display: none;
    }
}